@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Beatrice', Arial, sans-serif;
}
#loading{
    background: center url(img/loader.gif) #0A0B0D no-repeat ;
    height: 100vh;
    width: 100%;
    background-size: 20%;
    position: fixed;
    z-index: 100;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background: url(img/texture-7.png);
    justify-content: center;
    align-items: center;
    animation: background 450ms infinite;
}
@keyframes background{
    0%{
        background: none;
    }
    25%{
        background: url(img/texture-7.png);
    }
    50%{
        background: none;
    }
    60%{
        background: url(img/texture-7.png);
    }
    75%{
        background: none;
    }
    100%{
        background: url(img/texture-7.png);
    }
}
.img{
    position: absolute;
    z-index: 1;
}
img{
    height: 70vh;
}
.text{
    position: absolute;
    width: 100%;
    height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    z-index: 2;
}
.name,.work,.place{
    color: #C8C3C3;
    letter-spacing: 5px;
    font-weight: 400;
    text-align: center;
    font-family: 'Unbounded', cursive;
}
h1{
    margin: 0;
    font-size: 450%;
    margin-block: 2%;
}
.menu{
    display: flex;
    position: absolute;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    top: 0;
}
.menu p{
    font-family: 'Poppins',sans-serif;
    color: #fff;
    font-weight: 400;
    padding-inline: 25px;
}
.menu a{
    text-decoration: none;
}
.profile{
    position: absolute;
    opacity: 0;
    z-index: 10;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s ease;
}
.profile:hover{
    opacity: 1;
}
@media (max-width:1020px) {

    h1{
        font-size: 300%;
    }
    img{
        height: 60vh;
    }

}